@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskForm>

<div class="container">

    <div class="row">
        <div class="col-2" style="border: 2px ">
        </div>
        <div class="col-5" style="background-color: cornflowerblue;border: 2px">
                <h3>Urgent</h3>      
            </div>
        <div class="col-5" style="background-color: indianred; border: 2px">
            <h3>Not Urgent</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: cornflowerblue; border: 2px">
            <h3>Important</h3>
        </div>
        <div class="col-5" style="background-color: cornflowerblue; border: 2px">
            <h3>Quadrant 1</h3>
            <table>
                @*This is making the table and populating it dynamically through C#.  It is intended to be reading what is in the database through the object x, which indicates model instances.*@
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @if (x.Quadrant == 1)
                            {
                                <td>@x.Task</td>
                                <td>Completed: @x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5" style="background-color: mediumpurple; border: 2px">
            <h3>Quadrant 2</h3>
            <table>
                @*This is making the table and populating it dynamically through C#.  It is intended to be reading what is in the database through the object x, which indicates model instances.*@
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @if (x.Quadrant == 2)
                            {
                                <td>@x.Task</td>
                                <td>Completed: @x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: indianred; border: 2px">
            <h3>Not Important</h3>
        </div>
        <div class="col-5" style="background-color: mediumpurple; border: 2px">
            <h3>Quadrant 3</h3>
            <table>
                @*This is making the table and populating it dynamically through C#.  It is intended to be reading what is in the database through the object x, which indicates model instances.*@
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @if (x.Quadrant == 3)
                            {
                                <td>@x.Task</td>
                                <td>Completed: @x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5" style="background-color: indianred; border-width: 3px">
            <h3>Quadrant 4</h3>
            <table>
                @*This is making the table and populating it dynamically through C#.  It is intended to be reading what is in the database through the object x, which indicates model instances.*@
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            @if (x.Quadrant == 4)
                            {
                                <td>@x.Task</td>
                                <td>Completed: @x.Completed</td>
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>